*{
    color: white;
}

header, main {
    background-color: #0E100F;
    overflow: hidden;
}

main {
    background-image:
radial-gradient(
    30% 30% at 0% 35%,
    #FB5D54 0%,
    rgba(40, 40, 40, 0) 100%
  );
}

header {
position: relative;
text-align: center;
background-image:

/* purple circle */
  radial-gradient(
    /* width height at X Y*/
    /* Color1 tranparency1 */
    /* Color2 tranparency2 */
    30% 45% at 10% 80%,
    rgba(124, 98, 255, 1) 20%,
    rgba(124, 98, 255, 0) 100%
  ),
/* blue gradient */
radial-gradient(
    100% 50% at 50% 100%,
    rgba(19, 131, 236, 1) 0%,
    rgba(40, 40, 40, 0) 100%
  );

}

.abstract-shape {
  position: absolute;
  top: 12%;
  left: 14%;
  z-index: 0;
  pointer-events: none;
}
.shape{
  position: absolute;
  top: 25%;
  left: 75%;
  z-index: 0;
  pointer-events: none;
}

header > *:not(.abstract-shape, .shape) {
  position: relative;
  z-index: 1;
}
.hero-features {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.hero-features span {
    font-weight: bold;
    color: green;
}


.hero-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    margin-top: 2.5rem;
    padding: 0.5rem;
}

.hero-search img {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}
.hero-search select{
    color: #282828;
}

.hero-search select{
    font-size: 1.2rem;
    border: none;
    outline: none;
    padding: 1rem 0.5rem;
    width: 20%;
}

.hero-search select option{
    border: none;
    color: #282828;
}

.hero-search input {
    font-size: 1.2rem;
    width: 100%;
    padding: 0.5rem;
    color: #848484;
    border: none;
    outline: none;
    background: transparent;
}


.hero-title{
    font-size: 3rem;
    font-weight: 700;
    /* top right bottom left*/
    margin: 3rem auto auto auto;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(
    90deg,
    rgba(180, 180, 180, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(180, 180, 180, 1) 100%
  );
}

.hero-title-subtext {
    margin: auto;
    font-size: 1.3rem;
    font-weight: 150;
    margin-top: 1rem;
}

@media screen and (min-width: 1024px) {
    header, main {
        padding: 0 15rem;
    }
    header {
        padding-bottom: 16%;
    }
    .hero-title{
        width: 60%;
    }
    .hero-title-subtext{
        width: 70%;
    }
}

@media screen and (max-width: 1024px) {
    header, main {
        padding: 0 2rem;
    }
    header {
        padding-bottom: 16%;
    }

    .hero-features {
        flex-direction: column;
    }
    
}

.hero-search-button {
    font-size: 1.2rem;
    padding: 0.5rem 1.3rem;
    border-radius: 10px;
    margin-left: 1rem;
    border: none;
    background-color: #282828;
    color: white;
    cursor: pointer;
}