* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

nav {
display: flex;
justify-content: space-between;
padding: 1.5rem 0;
font-size: 1.3rem;
margin-bottom: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}
nav ul li {
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
nav ul li:hover {
    color: #848484;
}

nav p { /* Logo */
    font-size: 1.5rem;
    font-weight: 600;
}
/* temp solution */
@media screen and (max-width: 1024px) {
    nav ul {
        display: none;
    }
    
}

footer {
    background-color: #282828;
    color: white;
    padding: 2rem 0;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.footer-links img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-bottom: 1rem;
}
.footer-links img:hover {
    transform: scale(1.1);
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 14px;
    padding:  1rem;
    color: white;
}